image:
  tag: "8.0.3-debian-12-r0"
persistence:
  enabled: false
useStatefulSet: false
auth:
  enabled: false
serviceAccount:
  create: false
resources:
  requests:
    cpu: "2"
    memory: "2Gi"
  limits:
    memory: "2Gi"
labels:
  {{ tpl (readFile "labels.yaml.gotmpl") . | nindent 2 }}
  dev.nuxeo.com/app: mongodb
  dev.nuxeo.com/resource: statefulset
podLabels:
  {{ tpl (readFile "labels.yaml.gotmpl") . | nindent 2 }}
  dev.nuxeo.com/app: mongodb
  dev.nuxeo.com/resource: pod
pdb:
  create: true
  minAvailable: 1
tolerations:
- effect: NoSchedule
  key: team
  operator: Equal
  value: platform
nodeSelector:
  team: platform
